.jobSearchFeed {
    margin-top: 70px;

    .jsfWrapper {
        
        .jsfCoverPicCon {
            display: flex;
            flex-direction: column;
            position: relative;

            .jsfCoverPic {
                height: 40vh;
                object-fit: cover;
                overflow: hidden;
            }

            .jsfProfilePic {
                height: 220px;
                object-fit: cover;
                overflow: hidden;
                width: 220px;
                border: 2px solid blueviolet;
                border-radius: 15px;
                position: absolute;
                top: 15vh;
                left: 70px;
            }

            
        }
        

        .jsfRowIconCon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            .jsfRowIconItem {
                margin-right: 70px;
            }
        }

        .jsfBeforeSplit{
            display: flex;
           
            
           
            
            .jsfLeftCon{
                flex: 1;
                overflow-y: scroll;
                height: 200vh;
                
            }
            .jsfCenterCon{
                flex: 2;
                background-color: yellow;
                overflow-y: scroll;
   
            }
            .jsfRightCon{
                flex: 1;
                background-color: green;
                
            }
        }
    }
}
