.jobSearchPage {
  margin-top: 60px;

  .jspWrapper {
    .jspBeforeSplit {
      display: flex;

      .jspLeftCon {
        flex: 1.1;
        overflow-y: scroll;
        height: 200vh;
        background-color: rgb(234, 231, 238);
      }

      .jspCenterCon {
        flex: 2.5;
      }
      .jspRightCon {
        flex: 1.1;
        background-color: rgb(234, 231, 238);
      }
    }
  }
}
