.registerPage {
    overflow-y: hidden;
    height: 100vh;

    .rp-Wrapper {
        display: flex;
        .rp-Left {
            flex: 1;
            background-color: #ffff;
            height: 100vh;
            display: flex;
            align-items: center;

            .rp-LeftRow1 {
                display: flex;
                align-self: flex-start;
                margin-top: -25px;
                margin-left: 35px;

                .rp-logo {
                    height: 150px;
                    width: 150px;
                }
            }

            .rp-loginContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 420px;
                padding-bottom: 20px;

                .rp-logoIcon {
                    height: 60px;
                    width: 60px;
                }
                .rp-welcomeTxt {
                    font-size: 30px;
                    margin-top: 10px;
                    font-weight: 700;
                    color: rgb(78, 78, 78);
                }

                .rp-newHere {
                    font-size: 20px;
                    margin-top: 10px;
                    font-weight: 500;
                    color: rgb(52, 51, 51);

                    .newHereSpan {
                        font-size: 20px;
                        margin-top: 10px;
                        font-weight: 600;
                        color: blueviolet;
                    }
                }

                .rp-loginDesc {
                    font-size: 16px;
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;

                    color: rgb(59, 59, 59);
                }

                .rp-loginInputCon {
                    display: flex;
                    width: 320px;
                    height: 42px;
                    background-color: #f0eded;
                    margin-top: 10px;
                    border-radius: 20px;
                    border: 1px solid blueviolet;

                    .rp-inputIconCon {
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 0.8px;

                        .rp-Input-icon {
                            font-size: 22px;
                            color: rgb(93, 93, 93);
                        }
                    }

                    .rp-Input {
                        width: 267px;
                        height: 100%;
                        border: none;
                        outline: none;
                        padding-left: 10px;
                        background-color: #f0eded;
                        border-radius: 20px;
                    }
                }

                .rp-loginBut {
                    width: 320px;
                    height: 42px;
                    background-color: blueviolet;
                    margin-top: 12px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                    cursor: pointer;
                }

                .rp-alreadyAcc {
                    font-size: 14px;
                    margin-top: 12px;
                    color: blueviolet;
                }
            }
        }

        .lpRight {
            flex: 1;
            background-color: blueviolet;
            height: 100vh;
        }
    }
}
