.bookmarkPage {
  margin-top: 60px;

  .bpWrapper {
    .bpBeforeSplit {
      display: flex;

      .bpLeftCon {
        flex: 1.1;
        overflow-y: scroll;
        height: 200vh;
        // background-color: green;
        display: flex;
        justify-content: end;
      }

      .bpCenterCon {
        flex: 2.5;
      }

      .bpRightCon {
        flex: 1.4;
        background-color: rgb(234, 231, 238);
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .bpCenterCon {
    padding-right: 50px;
  }
  .bpRightCon {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .bookmarkPage {
    .bpWrapper {
      .bpBeforeSplit {
        .bpLeftCon {
          display: none;
        }
        .bpCenterCon {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .bookmarkPage {
    .bpWrapper {
      .bpBeforeSplit {
        .bpLeftCon {
          padding-left: 100px;
          padding-right: 20px;
        }
      }
    }
  }
}
