.loginPage {
    height: 100vh;
    .lpWrapper {
        display: flex;
        .lpLeft {
            flex: 1;
            background-color: #ffff;
            height: 100vh;
            display: flex;
            align-items: center;

            flex-direction: column;

            .lpLeftRow1 {
                display: flex;
                align-self: flex-start;
                margin-top: -25px;
                margin-left: 35px;

                .logo {
                    height: 150px;
                    width: 150px;
                }
            }

            .loginContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 420px;
                background-color: beige;
                padding-bottom: 20px;
                margin-top: 10px;

                .logoIcon {
                    height: 60px;
                    width: 60px;
                }
                .welcomeTxt {
                    font-size: 30px;
                    margin-top: 25px;
                    font-weight: 600;
                    color: rgb(78, 78, 78);
                }
                .loginDesc {
                    font-size: 18px;
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;
                }

                .loginInputCon {
                    display: flex;
                    width: 320px;
                    height: 42px;
                    background-color: #f0eded;
                    margin-top: 15px;
                    border-radius: 20px;
                    border: 1px solid blueviolet;

                    .inputIconCon {
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 0.8px;
                    }

                    .lpInput {
                        width: 267px;
                        height: 100%;
                        border: none;
                        outline: none;
                        padding-left: 10px;
                        background-color: #f0eded;
                        border-radius: 20px;
                    }
                }

                .loginBut {
                    width: 320px;
                    height: 42px;
                    background-color: blueviolet;
                    margin-top: 14px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                }

                .checkboxAndForgetCon {
                    display: flex;
                    margin-top: 15px;
                    align-items: center;
                    justify-content: space-between;
                    
                       

                    .checkboxCon {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                       
                        
                       
                       
      
                    }

                    .forgotPass{
                        margin-left: 102px;
                        

                    }
                }
            }
        }

        .lpRight {
            flex: 1;
            background-color: blueviolet;
            height: 100vh;
        }
    }
}
