.allLikesContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  position: absolute;
  background-color: white;
  height: 200px;
  padding: 10px;
  gap: 10px;
  overflow-y: scroll;
  width: 300px;

  .alcallComments {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .alcallCommentClearIcon {
      padding: 5px;
      background-color: blueviolet;
      border-radius: 50%;
      color: white;
      cursor: pointer;
    }
  }

  .alccomment1 {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid blueviolet;
      transition: all 0.3s ease-in-out;
      color: blueviolet;
    }

    .alccommentImg {
      height: 25px;
      width: 25px;
      background-color: blueviolet;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }
  }
  .alcacViewProfile {
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
  }
  .alcacHr {
    height: 1px !important;
    background-color: grey;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
