.jobEditPage {
    margin-top: 60px;
  
    .jepWrapper {
      .jepBeforeSplit {
        display: flex;
  
        .jepLeftCon {
          flex: 1.1;
          overflow-y: scroll;
          height: 200vh;
          // background-color: green;
          display: flex;
          justify-content: end;
        }
  
        .jepCenterCon {
          flex: 2.5;
        }
  
        .jepRightCon {
          flex: 1.4;
          background-color: rgb(234, 231, 238);
        }
      }
    }
  }
  