.bookmarkJobpost {
  margin: 10px 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.33);

  .bjpjobCompanyLogo {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 1px solid grey;
    object-fit: cover;
  }

  .bjpInfoCon {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 470px;

    .bjpJobTitle {
      font-size: 26px;
      font-weight: 700;
      color: rgb(56, 56, 56);
    }

    .bjpPostTime {
      font-size: 12px;
      font-weight: 600;
      margin-top: 10px;
    }

    .bjpCompanyAddress {
      font-size: 14px;
      font-weight: 600;
      color: rgb(43, 42, 42);
      margin-top: 10px;
    }

    .bjpCompanyName {
      color: blueviolet;
      font-size: 18px;
      font-weight: 600;
      margin-top: 10px;
    }

    .bjpjobPostDeleteSaveCon {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 20px;
      align-items: center;

      .bjpDelete {
        width: 100px;
        height: 35px;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid blueviolet;

        &:hover {
          background-color: blueviolet;
          color: white;
          transition: all 0.3s ease-in-out;
        }
      }
      .bjpviewMore {
        font-size: 14px;
        font-weight: 700;
        color: blueviolet;
        cursor: pointer;

        &:hover {
          text-decoration: underline blueviolet 1px;
        }
      }
    }
  }

  .bjpHr {
    width: 0.5px;
    height: 100px;
    background-color: grey;
    margin-right: 30px;
  }

  .bjpfullTimeBut {
    width: 100px;
    height: 38px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: blueviolet;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
