.blogCreatePage {
  margin-top: 60px;

  .bcpWrapper {
    .bcpBeforeSplit {
      display: flex;

      .bcpLeftCon {
        flex: 1.1;
        overflow-y: scroll;
        height: 200vh;
        // background-color: green;
        display: flex;
        justify-content: end;
      }

      .bcpCenterCon {
        flex: 2.5;
      }

      .bcpRightCon {
        flex: 1.4;
        background-color: rgb(234, 231, 238);
      }
    }
  }
}
