.categoryListContainer{
    background-color: #f8f3fd;
    padding:26px 15px;
    margin: 0px 20px;
    border-radius: 20px;
    margin-top: 40px;
    

    .categoryContainerTitle{
        font-size: 20px;
        font-weight: 700;
        color: rgb(50, 50, 50);
       
    }
    .clcHr{
        margin-top: 5px;
        margin-bottom: 20px;
        border-top: 4px solid blueviolet;
    }
    .categoryList{
        display: flex;

        .clcKey{
            font-size: 18px;
            color: rgb(50, 50, 50);
            margin-bottom: 20px;
        }
        .clcValue{
            font-size: 16px;
            color: rgb(50, 50, 50);
            margin-left: 8px;
            cursor: pointer;

            &:hover{
                color: rgb(104, 11, 192);
                text-decoration: underline blueviolet 2px;
                transition: all 0.8s ease;
               
                
                
            }
           
        }

    }
}