.blogs {
    .header {
        height: 30vh;
        background-color: yellow;
    }

    .blogsWrapper {
        display: flex;
        
        .blogsLeftSide {
            flex: 1;
            overflow: scroll;
            height: 100vh;    
        }

        .blogsRightSide {
            padding: 10px 16px;
            flex: 3;
            background-color: brown;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

