.blogsListPage {
  margin-top: 60px;

  .blpWrapper {
    .blpBeforeSplit {
      display: flex;

      .blpLeftCon {
        flex: 1.1;
        overflow-y: scroll;
        height: 200vh;
        // background-color: green;
        display: flex;
        justify-content: end;
      }

      .blpCenterCon {
        flex: 2.5;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }

      .blpRightCon {
        flex: 1.4;
        background-color: rgb(234, 231, 238);
      }
    }
  }
}
