.profilePage {
  .ppWrapper {
    padding: 0px 125px;
    .upCoverPicCon {
      display: flex;

      .upCoverPic {
        height: 40vh;
        object-fit: cover;
        overflow: hidden;
      }
      .upProfilePic {
        height: 220px;
        object-fit: cover;
        overflow: hidden;
        width: 220px;
        border: 2px solid blueviolet;
        border-radius: 15px;
        position: absolute;
        top: 15vh;
        left: 70%;
        z-index: 100;
      }
    }
    .ppBeforeSplit {
      display: flex;

      .ppLeft {
        flex: 2;
        background-color: green;
        // overflow-y: scroll;
        // position: relative;

        .upSmallWhatsOnYourMindCon {
          height: 80px;
          background-color: white;
          box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
          margin-top: 10px;
          margin: 20px 15px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;

          .upTinyProfilePic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 12px;
            cursor: pointer;
          }

          .upOnYourMindInput {
            width: 85%;
            height: 40px;
            border-radius: 22px;
            border: none;
            outline: none;
            border: 2px solid blueviolet;
            cursor: pointer;
            padding-left: 15px;
          }
        }
      }
    }
    .ppRight {
      flex: 1;
      background-color: red;
      overflow-y: scroll;
      position: sticky;
      top: 68px;

      height: 90.5vh;
    }
  }
}
