.blogReadPage {
  margin-top: 60px;

  .brpWrapper {
    .brpBeforeSplit {
      display: flex;

      .brpLeftCon {
        flex: 1.1;
        overflow-y: scroll;
        height: 200vh;
        display: flex;
        justify-content: end;
      }

      .brpCenterCon {
        flex: 2.5;
        margin-top: 20px;
      }

      .brpRightCon {
        flex: 1.4;
        background-color: rgb(234, 231, 238);
      }
    }
  }
}
