.blogRead{
    .brHeader {
        height: 30vh;
        background-color: yellow;
    }

    .brWrapper {
        display: flex;
        .brLeftSide {
            flex: 1;
            background-color: aqua;
            overflow: scroll;
            height: 200vh;
            
        }

        .brRightSide {
            padding: 0px 16px;
            flex: 3;
            background-color: brown;
            height: 500vh;
            display: flex;
            justify-content: space-between;
            
        }
    }
}
