.feedPage {
    position: relative;
    top: 70px;

    .fpWrapper {
        .fpCoverPicCon {
            display: flex;
            flex-direction: column;
            position: relative;

            .fpCoverPic {
                height: 40vh;
                object-fit: cover;
                overflow: hidden;
            }

            .fpProfilePic {
                height: 220px;
                object-fit: cover;
                overflow: hidden;
                width: 220px;
                border: 2px solid blueviolet;
                border-radius: 15px;
                position: absolute;
                top: 15vh;
                left: 70px;
            }
        }

        .fpRowIconCon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            .fpRowIconItem {
                margin-right: 70px;
            }
        }

        .fpBeforeSplit {
            display: flex;

            .fpLeftCon {
                flex: 1;
                background-color: cadetblue;
                overflow-y: scroll;
                height: 200vh;
            }
            .fpCenterCon {
                flex: 2;
                background-color: yellow;
                overflow-y: scroll;


                .fpRowIconCon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    margin-top: 10px;
                    margin: 20px 15px;
                    border-radius: 6px;
                    height: 60px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    
        
                    .fpRowIconItem {
                        cursor: pointer;
                    }
                }

                .smallWhatsOnYourMindCon {
                    height: 80px;
                    background-color: white;
                    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
                    margin-top: 10px;
                    margin: 20px 15px;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tinyProfilePic {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 12px;
                        cursor: pointer;
                    }

                    .onYourMindInput {
                        width: 85%;
                        height: 40px;
                        border-radius: 22px;
                        border: none;
                        outline: none;
                        border: 2px solid blueviolet;
                        cursor: pointer;
                        padding-left: 15px;
                    }
                }
            }
            .fpRightCon {
                flex: 1;
                background-color: green;
            }
        }
    }
}
