.userInfo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 7px;
}

.rightBarInfoContainer {
  padding-left: 7px;
  padding-right: 10px;

  .ppUserInfoItemCon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;

    .ppInfoIcon {
      color: grey;
    }
    .ppUserInfoItemTxt {
      color: rgb(44, 43, 43);
      font-weight: 600;
    }
    .boldSpan {
      font-weight: 600;
      color: rgb(26, 20, 20);
      font-size: 18px;
    }
  }
  .profileInfoEditBut {
    background-color: rgb(26, 20, 20);
    color: rgb(233, 228, 228);
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    &:hover {
      background-color: rgb(44, 43, 43);
      color: white;
    }
  }
}
