.userInfo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 7px;
}

.rightBarInfoContainer {
  padding-left: 7px;
  padding-right: 15px;

  .ppUserInfoItemCon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;

    .ppInfoIcon {
      color: grey;
    }
    .ppUserInfoItemTxt {
      color: rgb(44, 43, 43);
      font-weight: 600;
    }
    .boldSpan {
      font-weight: 600;
      color: rgb(26, 20, 20);
      font-size: 18px;
    }
  }
}
